#heading {
    width: 700px;
    height: 100px;
}

h1 {
    font-size: 3em;
    position: relative;
    margin: auto;
    width: 50%;
    text-align: center;
}

#abovePieceWrapper {
    width: 700px;
    height: 100px;
    position: relative;
}

section div[data-positionfilled = 'redToWhiteAnimation'] {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    animation: flashredtowhite;
    animation-duration: .5s;
    animation-iteration-count: 5;
}

section div[data-positionfilled = 'blackToWhiteAnimation'] {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    animation: flashblacktowhite;
    animation-duration: .5s;
    animation-iteration-count: 5;
    /* animation-timing-function: ease-in-out; */
}

@keyframes flashredtowhite {
    0% , 100%{
        background-color: red;
    }50% {
        background-color: white;
    }
}

@keyframes flashblacktowhite {
    0% , 100% {
        background-color: black;
    }50% {
        background-color: white;
    }
}

.black {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
}

.red {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
}

div[data-direction = 'right'] {
    transform: translate(55px);
}

#gridContainer {
    display: grid;
    width: 700px;
    grid-template-rows: 600px;
    grid-template-columns: repeat(7,1fr);
    border: black 1px solid;
    grid-auto-flow: column;
    z-index: -1;
    background-color: white;
}

.gridColumn:hover {
    background-color: lightgreen;
}

.gridColumn {
    display:grid ;
    border: black 1px solid ;
    background-color: green;
}

section div[data-positionfilled = 'empty']{
    border-radius: 50%;
    background-color: white;
    z-index: 0;
    /*animation: dropPiece 1s linear;*/
}

section div[data-positionfilled = 'red']{
    border-radius: 50%;
    background-color: red;
}

section div[data-positionfilled = 'black']{
    border-radius: 50%;
    background-color: black;
}

#bottomContainer {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    width: 702px;
    /* border: black 2px solid; */
    box-sizing: border-box;
    margin-top: 25px;
}

.bottomContainerElement {
    /* border: black 2px solid; */
}

#info {
    /* border: 2px black solid; */
    text-align: center;
}

#resetButton {
   align-self: flex-start;
}

#bottomInfoContent {
    width: 600px;
    font-size: 2em;
}

#resetButtonContainer{
    display: flex;
    width: 100px;
    justify-content: flex-end;
}




